$color-accent: #77A387
$color-background: #FEFAF0
$color-background-alt: #B0CAC8
$color-text: #2B4033
  
// typography
$heading-font-family: "Fraunces", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Fira Mono", "Helvetica Neue", "Helvetica", "Arial", sans-serif

$h1-size-desktop: pxToRem(105)
$h1-line-height-desktop: pxToRem(116)
$h2-size-desktop: pxToRem(47)
$h2-line-height-desktop: pxToRem(52)
$h5-text-transform: normal
$h5-font-family: $body-font-family

$meta-font-family: $body-font-family
$signature-font-family: $meta-font-family

// components
$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 100px

$hero-background-color: none

$footer-background-color: none
$footer-logo-height: 100px
$footer-logo-height-desktop: 180px