$color-background: #FEFAF0
$color-text: #2B4033
  
// typography
$heading-font-family: Fraunces, "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: Fira Mono, "Helvetica Neue", "Helvetica", "Arial", sans-serif
$meta-font-family: $body-font-family

// components
$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: 70px

$hero-background-color: none

$footer-background-color: none
$footer-logo-height-desktop: 100px