// hero
.hero
    @include media-breakpoint-up(desktop)
        .content
            flex-direction: column
            row-gap: var(--grid-gutter)
            figure
                width: columns(12)