// hero
.hero
    h1 
        span
            @include meta

    @include media-breakpoint-up(desktop)
        .content
            flex-direction: column
            figure
                width: columns(12)
                order: -1
                picture
                    margin-left: var(--grid-gutter-negative)
                    margin-right: var(--grid-gutter-negative)
            .hero-text
                margin-top: $spacing-3
            .hero-text, h1
                width: 100%
            h1
                align-items: baseline
                display: flex
                justify-content: space-between

// footer
footer#document-footer
    .footer-social
        order: -1
        + *
            margin-top: $spacing-2

    @include media-breakpoint-up(desktop)
        .container
            align-items: center
            flex-direction: column
            + .container
                align-items: center
                padding-top: 0
        .footer-legals, .nav-legal
            align-items: baseline
            display: flex
            gap: $spacing-3
        .footer-credit
            margin-top: 0



// SECTIONS
// home
.page__home
    .hero
        h1
            @include sr-only

    .block-chapter
        .block-title
            @include h2

// BLOCKS
.blocks
    .block-chapter
        img
            border-radius: 20px

        @include in-page-without-sidebar
            &--with-image
                .text,
                figure
                    width: columns(6)
                figure
                    img
                        margin-left: 0
                        width: 100%

            &.block-class-left-image
                figure
                    order: -1